{{ form_start(form,{
		attr: { 
			'novalidate': 'novalidate',
			'class': 'formingroup', 
			} 
        }) 
	}}
	
	<div class="mb-1">
		<label for="exampleInputEmail1" class="form-label">Add comment</label>
		<div>
			<strong class="text-danger cope" style="font-size: 12px;"></strong>
		</div> 	
		{{ form_widget(form.comment) }}
		<button type="submit" class="btn btn-primary mt-2 commentnow">comment</button>
	</div>
    {{ form_errors(form.comment) }}	
{{ form_end(form) }}	